[submodule "dotbot/dotbot"]
	path = dotbot/dotbot
	url = https://github.com/anishathalye/dotbot.git
    ignore = dirty
[submodule "dotbot/dotbot-brewfile"]
	path = dotbot/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
    ignore = dirty
[submodule "dotbot/dotbot-pip"]
	path = dotbot/dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
    ignore = dirty
[submodule "dotbot/dotbot-yarn"]
	path = dotbot/dotbot-yarn
	url = https://github.com/duranzno/dotbot-yarn.git
    ignore = dirty
[submodule "dotbot/dotbot-git"]
	path = dotbot/dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
    ignore = dirty
