[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "dotbot-brewfile"]
	path = dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
[submodule "dotbot-pip"]
	path = dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
[submodule "dotbot-yum"]
	path = dotbot-yum
	url = https://gitlab.com/flyingchipmunk/dotbot-yum.git
[submodule "dotbot-npm"]
	path = dotbot-npm
	url = https://github.com/ameliagapin/dotbot-npm.git
[submodule "dotbot-apt-get"]
	path = dotbot-apt-get
	url = https://github.com/rubenvereecken/dotbot-apt-get.git
[submodule "dotbot_plugin_aptget"]
	path = dotbot_plugin_aptget
	url = https://github.com/dein0s/dotbot_plugin_aptget.git
